.timeline-wrap {
  position: relative;
  width: 70%;
  margin-bottom: 2.6em; }
  .timeline-wrap .timeline-title {
    margin: .6em;
    font-size: 1.6em;
    font-family: sans-serif;
    font-weight: bold;
    color: #343434; }
    .timeline-wrap .timeline-title:hover {
      cursor: pointer;
      color: rgba(52, 52, 52, 0.6); }
  .timeline-wrap .timeline-content {
    margin-left: 2.2em;
    display: none; }
    .timeline-wrap .timeline-content li {
      color: #474747; }
      .timeline-wrap .timeline-content li:hover {
        cursor: pointer;
        color: rgba(71, 71, 71, 0.7); }
      .timeline-wrap .timeline-content li span {
        padding-left: 2.2em;
        color: rgba(71, 71, 71, 0.6); }
  .timeline-wrap .is-active {
    display: block; }
