.timeline-wrap {
  position: relative;
  width: 70%;
  margin-bottom: 2.6em; }
  .timeline-wrap .timeline-title {
    margin: .6em;
    font-size: 1.6em;
    font-family: sans-serif;
    font-weight: bold;
    color: #343434; }
    .timeline-wrap .timeline-title:hover {
      cursor: pointer;
      color: rgba(52, 52, 52, 0.6); }
  .timeline-wrap .timeline-content {
    margin-left: 2.2em;
    display: none; }
  .timeline-wrap .is-active {
    display: block; }
