.navbar {
  background-color: #f9f9f9;
  box-shadow: 0 1px 1px #ababab; }
  .navbar .navbar-brand img {
    width: 100px;
    height: 25px; }
  .navbar .navbar-item .item-link {
    color: #3273dc; }
    .navbar .navbar-item .item-link:hover {
      color: rgba(50, 115, 211, 0.8); }
