.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #818181;
  color: #ffffff; }
